[user]
  email = rufus@deponian.com
  name = Rufus Deponian
	; signingkey = ~/.ssh/id_ed25519_yubikey_work.pub

; [gpg]
; 	format = ssh

; [gpg "ssh"]
; 	allowedSignersFile = ~/.ssh/allowed_signers

[pull]
  ff = only

[diff]
  tool = vimdiff

[init]
  defaultBranch = main

; [commit]
;   gpgsign = true

; [core]
;   quotePath = false
;   pager = delta

; [interactive]
;   diffFilter = delta --color-only

; [delta]
;   navigate = true
;   syntax-theme = "OneHalfDark"
;   line-numbers-left-format = "{nm:^4}:"
;   line-numbers-right-format = "{np:^4}"
;   commit-style = "raw"
;   commit-decoration-style = "#4a4a4a overline"
;   file-style = "#fca800"
;   file-decoration-style = "#4a4a4a"
;   hunk-header-style = "raw"
;   hunk-header-decoration-style = "none"
;   file-modified-label = "changed: "
;   merge-conflict-begin-symbol = "▼ "
;   merge-conflict-end-symbol = "▲ "
;   merge-conflict-ours-diff-header-decoration-style = "#4a4a4a box"
;   merge-conflict-ours-diff-header-style = "#fca800"
;   merge-conflict-theirs-diff-header-decoration-style = "#4a4a4a box"
;   merge-conflict-theirs-diff-header-style = "#03cdff"
